<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Appsugar</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link th:href="@{/static/vendor/morrisjs/morris.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:replace="/layouts/fragments/sb_admin/header"/>
        <div th:replace="/layouts/fragments/sb_admin/menu"/>
    </nav>
    <div id="page-wrapper">
        <div layout:fragment="content"/>
        <div th:replace="layouts/fragments/sb_admin/paging"/>
    </div>
    <!-- /#page-wrapper -->
</div>
</body>
</html>
