<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Appsugar Admin 2.0</title>
    <!-- Main CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/metisMenu/1.1.3-1/metisMenu.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/morrisjs/0.5.0/morris.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
    <!-- element-ui css样式 -->
    <link rel="stylesheet" th:href="@{/css/element-ui@2.2.1/index.css}">
    <!-- jquery.select2 css样式 -->
    <link rel="stylesheet" th:href="@{/js/jquery-select2@4.0.6/css/select2.min.css}">
    <!-- daterangepicker css样式 -->
    <link rel="stylesheet" th:href="@{/js/daterangepicker@2.1.30/daterangepicker.css}">
    <!-- jquery-confirm css样式 -->
    <link rel="stylesheet" th:href="@{/js/jquery-confirm@3.3.2/jquery-confirm.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- axios.js -->
    <script th:src="@{/js/axios@0.18.0/index.min.js}"></script>
    <!-- qs.js -->
    <script th:src="@{/js/qs@6.5.1/qs.min.js}"></script>
    <!-- moment.js -->
    <script th:src="@{/js/moment@2.10.6/index.min.js}"></script>
    <!-- Main JS -->
    <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/metisMenu/1.1.3-1/metisMenu.min.js}"></script>
    <script th:src="@{/webjars/jquery-validation/1.17.0/jquery.validate.min.js}"></script>
    <script th:src="@{/js/sb-admin.js}"></script>
    <script th:src="@{/js/messages_zh.min.js}"></script>
    <!-- jquery.confirm.js -->
    <script th:src="@{/js/jquery-confirm@3.3.2/jquery-confirm.min.js}"></script>
    <!-- jquery.select2.js -->
    <script th:src="@{/js/jquery-select2@4.0.6/js/select2.js}"></script>
    <script th:src="@{/js/jquery-select2@4.0.6/js/i18n/zh-CN.js}"></script>
    <!--daterangepicker JS-->
    <script th:src="@{/js/daterangepicker@2.1.30/daterangepicker.js}"></script>
    <!--jquery.fileupload JS-->
    <script th:src="@{/js/jquery.fileupload/vendor/jquery.ui.widget.js}"></script>
    <script th:src="@{/js/jquery.fileupload/jquery.iframe-transport.js}"></script>
    <script th:src="@{/js/jquery.fileupload/jquery.fileupload.js}"></script>
    <!--webUploader JS-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/WebUploader@0.1.8/webuploader.css}" />
    <script type="text/javascript" th:src="@{/js/WebUploader@0.1.8/webuploader.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/WebUploader@0.1.8/upload.js}"></script>
    <!-- 核心JS -->
    <script th:src="@{/js/saas-main.js}"></script>
</head>
<body>
<div id="wrapper">
    <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"> -->
    <div class="saas-container">
        <div th:replace="layouts/fragments/sb_admin/menu"/>
        <div id="page-wrapper">
            <nav class="saas-header cf" role="navigation">
                <div th:replace="layouts/fragments/sb_admin/header"/>
            </nav>
            <div layout:fragment="content" saas-cloak="fadeInDown"/>
            <div th:replace="layouts/fragments/sb_admin/paging"/>
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<!-- <div th:replace="layouts/fragments/sb_admin/tips :: tips"></div> -->
</body>
</html>
