<div class="navbar-default sidebar" role="navigation">
    <div class="saas-logo">
        <a th:href="@{/}">Appsugar <span>管理系统</span></a>
    </div>
    <div class="sidebar-nav navbar-collapse" saas-cloak>
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="el-form-listPage el-input el-input-group el-input-group--append">
                    <input class="el-input__inner" type="text" placeholder="Search...">
                    <div class="el-input-group__append">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <!-- /input-group -->
            </li>
            <li id="home">
                <a th:href="@{/}"><i class="fa fa-home fa-fw"></i> 首页</a>
            </li>
            <li data-parent th:each="menu : ${menus}">
                <a href="#" th:if="${menu.hasPermission()}">
                    <i class="fa fa-cog fa-fw"></i>
                    <span th:text="${menu.name}"></span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" th:if="${menu.hasPermission()}">
                    <li th:each="child : ${menu.children}" th:if="${child.hasPermission()}">
                        <a th:href="@{${child.url}}" th:text="${child.name}"/>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<script th:inline="javascript">
    $(function () {

        var a = '123456789';


        let url = window.location;
        if (url.href === (url.origin + '/')) {
            $('ul#side-menu li#home a').addClass('active');
            return;
        }
        let element = $('ul.nav a').filter(function() {
            let _href = $(this).attr('href');
            if (_href === '/') return false;
            return (url.pathname + '/').indexOf( $(this).attr('href') + '/' ) != -1;
        }).addClass('active').parent();
        let num = 0;
        while (num <= 10) {
            if (element.is('li[data-parent]')) {
                element.addClass('active').find('a').eq(0).addClass('active');
                element.find('ul').eq(0).addClass('in');
                break;
            } else {
                num++;
                element = element.parent();
            }
        }
    })
</script>