<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" th:if="${page} != null">
    <ul class="pagination" th:with="startPage=${T(Math).max(0,page.number-5)},endPage=${T(Math).min(page.totalPages-1,page.number+5)}">
        <li th:class="'paginate_button previous ' + ${page.first?'disabled':''}" aria-controls="dataTables-example" tabindex="0"
            id="dataTables-example_previous">
            <a th:href="'javascript:jumpToPage('+${page.number-1}+')'">上一页</a>
        </li>
        <li th:each="pageNo : ${#numbers.sequence(startPage,endPage)}" th:class="'paginate_button ' + ${page.number==pageNo?'active':''}"
            aria-controls="dataTables-example" tabindex="0" th:if="${page.totalPages>0}">
            <a th:href="'javascript:jumpToPage('+${pageNo}+')'" th:text="${pageNo+1}">1</a>
        </li>
        <li th:class="'paginate_button next ' + ${page.last?'disabled':''} " aria-controls="dataTables-example" tabindex="0"
            id="dataTables-example_next">
            <a th:href="'javascript:jumpToPage('+${page.number+1}+')'">下一页</a>
        </li>
    </ul>
    <script>
        function  jumpToPage(n){
            var form = $(document.forms[0])
            form.append("<input type='hidden'  name='page' value='"+n+"'>")
            form.submit()
        }
    </script>
</div>
