<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./build/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./build/logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <version>${application.version}</version>
            <customFields>{"app":"${spring.application.name}"}</customFields>
            <timeZone>Asia/Shanghai</timeZone>
            <timestampPattern>YYYY-MM-dd HH:mm:ss.SSS</timestampPattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>65535</queueSize>
        <neverBlock>true</neverBlock>
    </appender>


    <!-- 3rdparty Loggers -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="ro.isdc.wro" level="WARN"/>
    <logger name="org.appsugar" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>