<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <title>角色列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row" id="app" v-cloak>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form method="post" class="el-form-listPage cf">
                        <a th:href="@{/system/role/form}"><button type="button" class="el-button el-button--primary">新建</button></a>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="el-table el-table--enable-row-hover">
                        <table class="el-table__body" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="is-center is-leaf">
                                        名称
                                    </th>
                                    <th class="is-center is-leaf">
                                        创建时间
                                    </th>
                                    <th class="is-center is-leaf">
                                        修改时间
                                    </th>
                                    <th class="is-center is-leaf">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="el-table__row" th:each="row : ${page.content}">
                                    <td class="is-center" th:text="${row.name}"/>
                                    <td class="is-center" th:text="${row.createdAt}"/>
                                    <td class="is-center" th:text="${row.updatedAt}"/>
                                    <td class="is-center">
                                        <div class="cell">
                                            <a th:href="@{/system/role/form?id=}+${row.id}">
                                                <button type="button" class="el-button el-button--primary el-button--mini">查看</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <saas-message :message="msg"></saas-message>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script th:inline="javascript">
        new Vue({
            el: '#app',
            data: function () {
                return {
                    msg: [[${msg}]]
                }
            }
        });
    </script>
</div>
</body>
</html>