<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layouts/default">
<head>
    <title>角色列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form method="post" class="form-inline">
                        <a class="btn btn-default" th:href="@{/system/role/form}" role="button">新建</a>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped" id="dataTables">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" th:each="r : ${page.content}">
                            <td th:text="${r.name}"/>
                            <td th:text="${#temporals.format(r.createdAt,'yyyy-MM-dd HH:mm')}" class="center"/>
                            <td th:text="${#temporals.format(r.updatedAt,'yyyy-MM-dd HH:mm')}" class="center"/>
                            <td><a th:href="@{/system/role/form?id=}+${r.id}" th:text="'查看'"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="alert alert-danger alert-dismissable" id="warn-alert" th:if="${msg != null}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div th:text="${msg}"></div>
                <script language="JavaScript">
                        $("#warn-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#warn-alert").slideUp(500);
                        });
                </script>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
</body>
</html>