<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        您的权限不够!</h1>
                    <h2>
                        403 您想要看的东西,我无法为您展示.</h2>
                    <div class="error-details">
                        对不起, 您没有足够的权限.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>