.saas-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    min-height: 500px;
    background: #f0f2f5 url(/images/login/login-background.svg) center 110px no-repeat;
    background-size: 100%;
}

.saas-login .title {
    padding: 110px 0 0 0;
    text-align: center;
    font-size: 33px;
    color: rgba(0, 0, 0, .85);
    font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.saas-login .title span {
    font-size: 24px;
    vertical-align: 3px;
}

.login-cell {
    width: 368px;
    margin: 25px auto;
}

.el-input--prefix .el-input__inner {
    padding-left: 34px;
}

.el-input__prefix {
    left: 8px;
    font-size: 16px;
    line-height: 42px;
}

.login-cell .el-button {
    width: 100%;
}

.mb-25 {
    margin-bottom: 25px;
}