<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <title>用户列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row" id="app" v-cloak>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="el-form-listPage cf" name="formName" method="post">
                        <div class="fl">
                            <label class="el-form-item__label">名称：</label>
                            <div class="el-input" style="width: 150px;">
                                <input
                                    class="el-input__inner"
                                    name="name"
                                    type="text"
                                    th:value="${param.name}"
                                    placeholder="名称:前置匹配">
                            </div>
                        </div>
                        <div class="fl">
                            <label class="el-form-item__label">登录名称：</label>
                            <div class="el-input" style="width: 150px;">
                                <input
                                    class="el-input__inner"
                                    name="loginName"
                                    type="text"
                                    th:value="${param.loginName}"
                                    placeholder="名称:前置匹配">
                            </div>
                        </div>
                        <div class="ml-10 fl">
                            <button type="submit" class="el-button el-button--primary">查询</button>
                            <a href="/system/user/form"><button type="button" class="el-button el-button--success">新建</button></a>
                        </div>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="el-table el-table--enable-row-hover">
                        <table class="el-table__body" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="is-center is-leaf">名称</th>
                                    <th class="is-center is-leaf">登录名称</th>
                                    <th class="is-center is-leaf">密码</th>
                                    <th class="is-center is-leaf">创建时间</th>
                                    <th class="is-center is-leaf">修改时间</th>
                                    <th class="is-center is-leaf">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="el-table__row" th:each="row : ${page.content}">
                                    <td class="is-center" th:text="${row.name}"/>
                                    <td class="is-center" th:text="${row.loginName}"/>
                                    <td class="is-center">******</td>
                                    <td class="is-center" th:text="${row.createdAt}"/>
                                    <td class="is-center" th:utext="${row.updatedAt}"/>
                                    <td class="is-center">
                                        <div class="cell">
                                            <a th:href="@{/system/user/form?id=}+${row.id}">
                                                <button type="button" class="el-button el-button--primary el-button--mini">查看</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <saas-message :message="msg"></saas-message>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script th:inline="javascript">
        new Vue({
            el: '#app',
            data: function () {
                return {
                    msg: [[${msg}]]
                }
            }
        });
    </script>
</div>
</body>
</html>