html {height: 100%;}
html, body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #58666e;
  background-color: transparent;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
	margin: 0;
	padding: 0
}
button, input, select, textarea {
	font-family: 'Open Sans',Arial,sans-serif;
	border: none;
}
body {
	min-width: 768px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp {
	font-family: couriernew, courier, monospace
}
small {
	font-size: 12px
}
em, i {
	font-style: normal
}
ul, ol, li {
	list-style: none
}
video {
	background-color: #000
}
label {
	margin: 0;
}
a {
	text-decoration: none;
	tap-highlight-color: transparent;
	user-select: none;
}
a:link, a:visited, a:hover {
	text-decoration: none;
}
a:active {
	color: #16adde;
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
img {
	max-width: 100%;
	vertical-align: middle
}
button, input, select, textarea {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cf{
	zoom:1;
}
.cf:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.text-center {
	text-align: center;
}
.hide {
	display: none;
}

.el-row-title {
	font-weight: bold;
	line-height: 35px;
	border-bottom: 1px solid #ebeef5;
}
.saas-fileupload-cell {
	position: relative;
	width: 120px;
	height: 120px;
	line-height: 120px;
	font-size: 35px;
	color: #8c939d;
	text-align: center;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    background-color: #fbfdff;
    overflow: hidden;
    cursor: pointer;
}
.saas-fileupload-cell:hover {
	color: #409EFF;
	border-color: #409EFF;
}
input[type=file] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}
label {
	font-weight: normal;
}
.el-form-item__label {
    width: 105px;
}
.el-form-item__content {
    margin-left: 105px;
}
.el-select {
	display: block;
}
.el-date-editor.el-input {
	width: 100%;
}
.el-dialog__body {
	padding: 10px 20px !important;
}
.el-button--primary a,
.el-button--success a,
.el-button--info a,
.el-button--warning a,
.el-button--danger a {
	color: #fff;
}
.el-upload__tip {
	margin-top: 0;
	line-height: 14px;
}
.el-input__inner.text-error {
	border-color: #f56c6c;
}
label.text-error {
	height: 14px;
	line-height: 14px;
    color: #f56c6c;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.el-form-item {
	margin-bottom: 25px;
}
.el-form-small .el-form-item {
	margin-bottom: 15px;
}
.el-form-item__label {
	padding-right: 8px;
}
.el-tabs__item.is-active {
	border-bottom: 2px solid #409EFF;
	z-index: 2;
}
.saas-imageupload-cell .el-upload {
	width: 111px;
	height: 111px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.saas-imageupload-cell .el-upload img {
	width: 100px;
	height: 100px;
	border-radius: 6px;
}
.saas-imageupload-cell .el-upload:hover {
    border-color: #409EFF;
}
.saas-imageupload-cell-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.saas-List-by-type-cell {
	/*display: inline-block;*/
}
.saas-breadcrumb + .saas-breadcrumb:before {
	content: '/';
	padding: 0 3px;
}

.form-control {
	height: 40px;
	border: 1px solid #dcdfe6;
	box-shadow: none;
}
.form-control:focus {
	border-color: #409EFF;
	box-shadow: none;
}
input[disabled],select[disabled],textarea[disabled] {
	background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed !important;
}
.checkbox {
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 23px;
	margin: 0;
}
.checkbox input[type=checkbox] {
	width: 100%;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}
.checkbox.is-checked:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    z-index: 2;
	box-sizing: content-box;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    width: 3px;
    height: 7px;
    transform: rotate(45deg) scaleY(1);
    transform-origin: center;
}
.checkbox:after {
	content: '';
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    display: block;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
}
.checkbox.is-checked:after {
	background-color: #409eff;
	border-color: #409eff;
}
.checkbox .text-error {
	position: absolute;
	width: 100%;
	min-height: 14px;
	margin-left: -23px;
	white-space: nowrap;
}
.checkbox + .checkbox {
	margin-right: 25px;
}
.checkbox:first-child {
	margin-right: 25px;
}
.checkbox:last-child {
	margin-right: 0;
}
.radio {
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 23px;
	margin: 0;
}
.radio input[type=radio] {
	width: 100%;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}
.radio:after {
	content: '';
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    display: block;
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background-color: #fff;
}
.radio.is-checked:after {
	border-color: #409eff;
    background: #409eff;
}
.radio.is-checked:before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    left: 8px;
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.radio + .radio {
	margin-right: 12px;
}
.radio:first-child {
	margin-right: 12px;
}
.radio:last-child {
	margin-right: 0;
}
.el-form-listPage {
	/*height: 35px;*/
}
.el-form-listPage label.el-form-item__label {
	width: auto;
	padding-left: 15px;
	line-height: 35px;
}
.el-form-listPage .el-input__inner {
	height: 35px;
}
.el-form-listPage .el-button {
	padding: 9px 20px;
}
.el-table__body .form-control {
	height: 35px;
}
.el-table__body .el-input__inner {
	height: 35px;
}
.saas-district-group .saas-district {
	display: inline-block;
	width: 150px;
}
.saas-district + .saas-district {
	margin-left: 5px;
}
.jconfirm .jconfirm-box-container {
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    @include postcss(transform, translate(-50%, -50%) !important);
}
@for $i from 1 through 20 {
	.col-width--#{$i * 50} { display:inline-block; width: 50px * $i !important;}

	.pa-#{$i * 5} { padding: 5px * $i !important;}
	.pt-#{$i * 5} { padding-top: 5px * $i !important;}
	.pb-#{$i * 5} { padding-bottom: 5px * $i !important;}
	.pl-#{$i * 5} { padding-left: 5px * $i !important;}
	.pr-#{$i * 5} { padding-right: 5px * $i !important;}

	.ma-#{$i * 5} { margin: 5px * $i !important;}
	.mt-#{$i * 5} { margin-top: 5px * $i !important;}
	.mb-#{$i * 5} { margin-bottom: 5px * $i !important;}
	.ml-#{$i * 5} { margin-left: 5px * $i !important;}
	.mr-#{$i * 5} { margin-right: 5px * $i !important;}
}