.navbar-default.sidebar {
    width: $--menu-width;
    position: static;
    margin: 0;
	background-color: $--menu-background-color;
    @include postcss(box-shadow, 3px 0 6px rgba(0, 21, 41, .3));
    .saas-logo {
        width: $--menu-width;
        height: $--header-height;
        line-height: $--header-height + 5px;
        background: $--menu-logo-background-color;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        a {
            display: inline-block;
            width: 100%;
            font-size: 26px;
            font-family: "Myriad Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
            font-weight: 600;
            color: $--color-white;
            span {
                font-size: 16px;
                vertical-align: 2px;
            }
        }
    }
    .sidebar-search {
        padding: 20px 15px 5px 15px;
    }
    .arrow {
        font-size: 18px;
        margin-top: 17px;
    }
    ul {
        > li {
            border: 0;
            margin-bottom: 1px;
            > a {
                position: relative;
                height: 56px;
                line-height: 56px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.60);
                padding: 0 20px;
                cursor: pointer;
                position: relative;
                white-space: nowrap;
                &:hover,
                &:focus,
                &.active {
                    color: rgba(255, 255, 255, 0.95);
                    background-color: transparent;
                }
                &.active {
                    padding-left: 17px;
                    border-left: 3px solid $--menu-background-color-lighter;
                }
                > i {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
            > ul {
                background-color: $--menu-children-background-color;
                > li {
                    > a {
                        padding-left: 50px !important;
                        &.active,
                        &:hover {
                            background-color: $--menu-background-color-lighter;
                            color: $--color-white;
                        }
                    }
                }
            }
        }
    }
}