.saas-message {
    opacity: 0;
    min-width: 280px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fef0f0;
    border: 1px solid #fde2e2;
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 2100;
    transform: translateX(-50%);
    transition: opacity .3s,transform .4s;
    overflow: hidden;
    padding: 12px 12px 12px 20px;
    display: flex;
    align-items: center;
    color: #f56c6c;
    i.fa {
       font-size: 16px;
        margin-right: 10px; 
    }
}