// 全局变量
@import './variables';
// 公共样式
@import './common';
// animate动画样式
@import './animate';
// message提示样式
@import './message';
// header样式
@import './header';
// 左侧菜单样式
@import './menu';
// form部分样式
@import './form';
/*左侧菜单栏*/
.saas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 100vh;
}
#page-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 $--layout-base;
    margin: 0;
}
.el-input-group__append {
    cursor: pointer;
}