$--layout-base: 25px !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;

/* Header
-------------------------- */
$--header-height: 60px !default;
$--header-right-color: rgba(51, 122, 183, .95);
$--header-right-color-lighter: rgba(51, 122, 183, 1);
$--header-right-background-lighter: #ecf5ff;

/* Menu
-------------------------- */
$--menu-width: 250px !default;
$--menu-background-color: #001529;
$--menu-background-color-lighter: #409EFF;
$--menu-logo-background-color: #002140;
$--menu-children-background-color: #000c17;

/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-primary: #409EFF !default;

/* Background
-------------------------- */
$--background-color-base: #f5f7fa !default;

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;

/* PostCSS
-------------------------- */
@mixin postcss($key, $value) {
	-moz-#{$key}: $value;
	-webkit-#{$key}: $value;
	-o-#{$key}: $value;
	-ms-#{$key}: $value;
	-khtml-#{$key}: $value;
	#{$key}: $value;
}